@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
:root {
  --clr1: #1EAB07;
  --clr2: #fff;
  --clr3: #000;
  --clr4: #0C4803;
  --clr5: limegreen;
}
/* Style for entire body */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  /* text-transform: uppercase; */
}
html {
  font-size: 65%;
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-thumb {
  background: var(--clr4);
}
/* ----------------------------------------------------------------------------------GENERAL SECTION */
section {
  padding: 4rem 0%;
  margin-top: 3.8rem;
}
section h3 {
  font-size: 44px;
  font-weight: bolder;
  color: white;
  text-transform: none;
  text-align: center;
  letter-spacing: 0.2rem;
  
}
section h2{
  font-size: 40px;
  font-weight: bold;

}
section h4 {
  margin: 0 0 1rem 35rem;
  padding: 0.8rem;
  width: 60%;
  font-size: 5rem;
  font-weight: bold;
  color: white;
  text-transform: none;
  text-align: center;
  align-items: center;
  letter-spacing: 0.2rem;
  background: var(--clr1);
  
  
  
  /* -webkit-clip-path: polygon(
    0% 15%,
    25% 24%,
    15% 0%,
    85% 0%,
    67% 25%,
    100% 15%,
    100% 85%,
    68% 68%,
    85% 100%,
    15% 100%,
    24% 72%,
    0% 85%
  ); */
}
section p {
  color: white;
  font-size: 2rem;
  /* text-transform: capitalize; */
  line-height: 2.5rem;
  word-wrap: normal;
}
.btn {
  margin-top: 2rem;
  padding: 1.5rem 4rem;
  font-size: 1.8rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  font-weight: 500;
  color: black;
  background: white;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 1.4rem 1.4rem rgba(0, 200, 80, 0.4);
  transition: all 0.3s ease;
  cursor: pointer;
  outline: none;
}
.btn:hover {
  background-color: black;
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.1);
  color: white;
  transform: translateY();
}
/* ----------------------------------------------------Styling for head */
.head {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  background: #1EAB07;
  color: #fff;
  padding: 3rem 9%;
  align-items: center;
  justify-content: space-between;
}
.head h1 {
  font-size: 4.5 rem;
  font-family: "Oleo Script Swash Caps";
}
#house{
  animation: icon 3s ease infinite;
}
@keyframes icon {
  25% {
    transform: translateY(-1.5rem);
  }
  50% {
    transform: translateY(1.5rem);
  }
}
.head .navbar a {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin: 0 2rem;
  text-decoration: none;
}
.head .navbar a:hover {
  color: black;
  transition: -4s ease;
}
.head .side-bar i {
  padding: 1.5rem;
  font-size: 2.1rem;
  border: none;
  background: var(--clr2);
  color: var(--clr4);
}
.head .side-bar i:hover {
  background: var(--clr3);
  color: var(--clr4);
  transition: .4s ease;
}
.head span{
    color: var(--clr4);
}
#bars {
  display: none;
}
.search-bar {
  height: 7rem;
  padding: 0 1rem;
  display: flex;
  position: absolute;
  top: 99%;
  left: 50%;
  right: 0;
  align-items: center;
  background: var(--clr3);
  clip-path: polygon(20% 0%, 80% 0%, 100% 0, 0 0);
}
.search-bar input {
  width: 100%;
  background: none;
  border: hidden;
  text-transform: none;
  font-size: 1.5 rem;
  color: #fff;
}
.search-bar.active {
  border: hidden;
  transition: 0.2s ease;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
/* -----------------------------------------------------------------------------------------------------HOME CSS---------- */
.home {
  height: 70vh;
  /* background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5), url(/assets/pizza2.jpeg) ); */
  background-image: url(../assets/deals4.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-
}
.home p {
  font-size: 2.7rem;
  line-height: 2.9rem;
}

.inner-content {
  margin-top: 20rem;
  text-align: center;
}
.inner-content i {
  color: var(--clr4);
  height: 100px;
}
.inner-content h3 {
  font-size: 50px;
  padding-top: 10rem;
}
/* .inner-content-img {
  margin-top: 2rem;
}
.inner-content img {
  width: 45rem;
  height: auto;
  animation: icon 5s ease infinite;
} */

/* ----------------------------------------------------------------ABOUT section =====================chooseus-------*/
#chooseus{
  padding: 3rem 9%;
}
 .about {
  /* overflow: hidden; */
  /* height: 100vh; */


} 
.about-sec {
  display: grid;
  grid-template-columns: 1.2fr 1.2fr;
  /* display: flex; */
  /* justify-content: space-evenly; */
  /* background-color: var(--clr1); */
}
.img img {
  width: 83rem;
  height: auto;
  text-align: center;
  animation: icon 5s ease infinite;
}
.about-content h3 {

  background-size: cover;
  background-position: center;
  color: var(--clr4);
}
.about .btn {
  /* border: 0.1rem solid var(--clr4); */
  margin-top: 5rem;
}
.about-content p {
  padding-bottom: 2rem;
  color: black;
  font-size: 1.4rem;
  font-weight: 600;
}
.about-inner h5 {
  padding: 1rem 0;
  font-size: 1.5rem;
  text-transform: capitalize;
  font-weight: 700;
}
.about-inner h5:hover {
  transform: translateX(2rem);
  transition: 1s ease;
}
.about-inner .fa-circle-arrow-right {
  color: var(--clr4);
  padding-right: 1rem;
}
/* -----------------------------===========================================================-Services */
#service{
  padding: 4rem 9%;
}
.service-content {
  padding: 1rem 0;
  display: grid;
  grid-template-columns: 1.2fr 1.2fr 1.2fr;
  grid-gap: 1rem;
}
.inner-box {
  padding: 3rem 2rem;
  text-align: center;
  border: .1rem solid var(--clr4);
  background: white;
}
.inner-box:hover {
  background: var(--clr4);
  transition: 2s ease all;
  color: white;
}
.inner-box img {
  width: 15rem;
  height: 15rem;
}
.inner-box p {
  font-size: 1.3rem;
  color: black;
}
.inner-box h2 {
  padding: 2rem 0;
  font-size: 2rem;
  letter-spacing: 1rem;
  text-transform: capitalize;
}
/* -------------------=========================================-------------Styling for HOMES */
.menu{
  padding: 4rem 9%;
}
.menu-content {
  display: grid;
  grid-template-columns: 1.2fr 1.2fr 1.2fr;
  grid-gap: 1rem;
  flex-wrap: wrap;
}
.in-box {
  padding: 3rem 4rem;
  text-align: center;
  border: .2rem solid var(--clr4);
  background: white;
}
.in-box:hover {
  background: var(--clr4);
  transition: 2s ease all;
}
.in-box img {
  width: 20rem;
  height: auto;
}
.in-box .far {
  position: absolute;
  font-size: 2.5rem;
  margin-left: -7rem;
  color: black;
}

.star
 {
  padding: 1.2rem 0;
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--clr1);
  text-transform: capitalize;
}
.in-content h2,
.in-content p {
  font-size: 2.6rem;
  text-transform: capitalize;
  padding: 1rem 0;
}

.in-box .far {
  font-size: 2.3rem;
}
.in-box .fa-street-view {
  color: var(--clr1);
}
/* -------------------------------------------------------------------------------------------------------------------------BLOG---------- */
#deals{
  padding: 4rem 9%;
}
#blog-box{
  border: 0.5rem solid var(--clr4);
}
#blog-box h2{

}
.in img {
  height: 200px;
  object-fit: cover;
}
.in-blog-contents h2,
.in-blog-contents p {
  color: black;
}
.in-blog-icon {
  display: flex;
}
.in {
  height: 20rem;
  position: relative;
}
.in-blog-icon i {
  padding-right: 0.5rem;
  color: white;
}
.in-blog-content {
  display: flex;
  align-items: center;
  padding: 1rem;
  justify-content: space-between;
  background: black;
  text-align: center;
  padding: 0.5rem;
  background: white;
}
/* .inner-blog {
  display: grid;
  grid-template-columns: 1.2fr 1.2fr 1.2fr;
  grid-gap: 1rem;
} */
/* .blog-content {
  position: relative;
  background: white;
}



.in-blog-icon a {
  font-size: 1.5rem;
  color: white;
  text-transform: capitalize;
}

 */
/* --------------------------------------------------------------------------------------CONTACT US-------------- */
.contact {
  padding-top: 3rem;
}
.contact-sec {
  width: 100%;
}
.contact-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.contact-inner-col {
  margin: 2rem;
  flex: 1 1 20rem;
  text-align: center;
}
.contact-inner-col img {
  width: 100%;
  /* height: auto; */
  margin: 1.5rem;
  /* padding: 1rem; */
}
.contact-inner-col h1 {
  padding: 1rem 0;
  color: var(--clr4);
  font-size: 3rem;
  letter-spacing: 1rem;
  /* text-transform: capitalize; */
}
.contact-inner-col p {
  padding: 5rem;
  line-height: 1.5rem;
  font-size: 1.5rem;
  /* text-transform: capitalize; */
  color: #aaa;
}
.contact-inner-col input,
.contact-inner-col textarea {
  width: 80%;
  padding: 1rem;
  margin-bottom: 1.2rem;
  border: none;
  border-bottom: .3rem solid var(--clr4);
}
textarea {
  resize: none;
}
.map {
  border: .1rem solid black;
}
.copyright {
  display: flex;
  margin-top: 5rem;
  padding: 3rem;
  text-align: center;
  justify-content: space-between;
  background: black;
}
.copyright i {
  font-size: 2rem;
  color: white;
}
.copyright p {
  color: white;
  letter-spacing: 1rem;
  font-size: 1.5rem;
}
.social i {
  padding: 1rem;
  background: var(--clr4);
  color: white;
  font-size: 1.5rem;
}
.social i:hover {
  transform: translateY(-2rem);
  color: white;
  cursor: pointer;
  transition: 1s ease;
}
  /*==================== footer */
  #footer{
    background-color: #1EAB07;
    display: flex;
    justify-content: space-between;
    text-align: left;
    height: 450px;
    font-size: 24px;
    color: white;
    padding-top: 48px;
    padding-left: 48px;
}
/*=============================== footer texts */
.footertexts{
    line-height: 48px;
    width: 27%;
}
/* footer texts headings */
.footertexts p:first-child{
    font-size: 36px;
    margin-bottom: 24px;
    font-weight: 900;
}
/* footer social icons */
.footertexts>img{
    width: 172px;
}
/* footer buttons */
#newsletterbutton{
    position: relative;
    display: flex;
    left: -48px;
    margin-top: 24px;
}
/* email button */
#emailbutton{
    position: relative;
    width: 260px;
    height: 35px;
    border-radius: 20px;
    border: none;
    color: #1EAB07;
    left: 48px;
}
/* subscribe button */
#subscribe{
    position: relative;
    width: 140px;
    height: 35px;
    border-radius: 20px 20px 20px 0px;
    border: none;
    background-color: #9c9c9c;
    color: #1EAB07;
}
/* ==================================================footer */
.bg-dark{
  background-color: var(--clr4);
}
/* mediaquery */
/* @media(max-width:991px){
html{
    font-size: 55%;
}
header{
    padding: 2rem;

}
}
@media(max-width:450px){
   html{
       font-size: 50%;
   } 
}
@media (max-width:768px){
    #bars{
        display: inline-block;
    }
    .search-bar input{
        width: 100%;
    }
    .head.navbar{
position: absolute;
top: 100%;
right: -100%;
width: 100%;
background: var(--clr3);
font-size: 2rem;
    }
    .head .navbar a{
        margin: 2rem 2.5 rem ;
        display: block;
        border-right: 1rem solid var(--clr4);

    }
    .head .navbar a:hover{
transform: translateX(2rem);
    }
    .head .navbar .active{
        right: -5rem;
        transition: .4s ease-in ;
    }

} */
