@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
:root {
  --clr1: #1EAB07;
  --clr2: #fff;
  --clr3: #000;
  --clr4: #0C4803;
  --clr5: limegreen;
}
/* Style for entire body */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}
html {
  font-size: 65%;
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-thumb {
  background: var(--clr4);
}

.head {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  background: #1EAB07;
  color: #fff;
  padding: 3rem 9%;
  align-items: center;
  justify-content: space-between;
}
.head h1 {
  font-size: 4.5 rem;
  font-family: “Oleo Script Swash Caps”;
}
#house{
  animation: icon 3s ease infinite;
}
@keyframes icon {
  25% {
    transform: translateY(-1.5rem);
  }
  50% {
    transform: translateY(1.5rem);
  }
}
.head .navbar a {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin: 0 2rem;
  text-decoration: none;
}
.head .navbar a:hover {
  color: black;
  transition: -4s ease;
}
.head .side-bar i {
  padding: 1.5rem;
  font-size: 2.1rem;
  border: none;
  background: var(--clr2);
  color: var(--clr4);
}
.head .side-bar i:hover {
  background: var(--clr3);
  color: var(--clr4);
  transition: -4s ease;
}
.head span{
    color: var(--clr4);
}
#bars {
  display: none;
}
.search-bar {
  height: 7rem;
  padding: 0 1rem;
  display: flex;
  position: absolute;
  top: 99%;
  left: 50%;
  right: 0;
  align-items: center;
  background: var(--clr3);
  clip-path: polygon(20% 0%, 80% 0%, 100% 0, 0 0);
}
.search-bar input {
  width: 100%;
  background: none;
  border: hidden;
  text-transform: none;
  font-size: 1.5 rem;
  color: #fff;
}
.search-bar.active {
  border: hidden;
  transition: 0.2s ease;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

/* end header */

/* start: agents styles */
#agents {
  margin: 4rem 0 6rem;
  padding: 0 0 6rem;
  border-bottom: 1px solid #ccc;
}

#agents p.large-paragraph {
  width: 50%;
  margin-bottom: 4rem;
}

#agents .row::after {
  content: "";
  clear: both;
  display: table;
}

#agents .column {
  float: left;
  width: 25%;
  padding: 5px;
  height: 15%;
}

#agents .column img {
  width:250px ;
  margin: 10, 10, 10, 10px;
}

#agents .column h3 {
  font-family: "Playfair Display", serif;
  color: #000;
}

#agents .column h3,
#agents .column p {
  padding-left: 1rem;
}
/* end: agents styles */

/* start footer*/ 

#footer{
  background-color: #1EAB07;
  display: flex;
  justify-content: space-between;
  text-align: left;
  height: 450px;
  font-size: 24px;
  color: white;
  padding-top: 48px;
  padding-left: 48px;
}
/*footer texts */
.footertexts{
  line-height: 48px;
  width: 27%;
}
/* footer texts headings */
.footertexts p:first-child{
  font-size: 36px;
  margin-bottom: 24px;
  font-weight: 900;
}
/* footer social icons */
.footertexts>img{
  width: 172px;
}
/* footer buttons */
#newsletterbutton{
  position: relative;
  display: flex;
  left: -48px;
  margin-top: 24px;
}
/* email button */
#emailbutton{
  position: relative;
  width: 260px;
  height: 35px;
  border-radius: 20px;
  border: none;
  color: #1EAB07;
  left: 48px;
}
/* subscribe button */
#subscribe{
  position: relative;
  width: 140px;
  height: 35px;
  border-radius: 20px 20px 20px 0px;
  border: none;
  background-color: #9C9C9C;
  color: #1EAB07;
}

