

.head {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  background: #1EAB07;
  color: #fff;
  padding: 3rem 9%;
  align-items: center;
  justify-content: space-between;
}
.head h1 {
  font-size: 4.5 rem;
  font-family: “Oleo Script Swash Caps”;
}
#house{
  animation: icon 3s ease infinite;
}
@keyframes icon {
  25% {
    transform: translateY(-1.5rem);
  }
  50% {
    transform: translateY(1.5rem);
  }
}
.head .navbar a {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin: 0 2rem;
  text-decoration: none;
}
.head .navbar a:hover {
  color: black;
  transition: -4s ease;
}
.head .side-bar i {
  padding: 1.5rem;
  font-size: 2.1rem;
  border: none;
  background: var(--clr2);
  color: var(--clr4);
}
.head .side-bar i:hover {
  background: var(--clr3);
  color: var(--clr4);
  transition: -4s ease;
}
.head span{
    color: var(--clr4);
}
#bars {
  display: none;
}
.search-bar {
  height: 7rem;
  padding: 0 1rem;
  display: flex;
  position: absolute;
  top: 99%;
  left: 50%;
  right: 0;
  align-items: center;
  background: var(--clr3);
  clip-path: polygon(20% 0%, 80% 0%, 100% 0, 0 0);
}
.search-bar input {
  width: 100%;
  background: none;
  border: hidden;
  text-transform: none;
  font-size: 1.5 rem;
  color: #fff;
}
.search-bar.active {
  border: hidden;
  transition: 0.2s ease;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

/* end header */




